// ul specifics list

.specifics__list {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;

  .specifics__item {
    width: 270px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

// div specific thumb

.specific__thumb {
  height: 120px;
  display: flex;
  background: var(--our-team-bloc-background-color);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  .specific-thumb-item {
    width: 70px;
    height: 70px;
  }
}

// tittle

.specific__tittle {
  margin: 0px;
  padding: 0px;
}

//description

.specific__description {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--contact-menu-itam-color);
}
